/* Changing Scroll Bar Style  */
 
::-webkit-scrollbar {
    background-color: rgba(255, 0, 0, 0);
    width: 0.5rem;
}

::-webkit-scrollbar-button {
    background-color: yellow;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(122, 122, 122);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #111;
}

#HiddenEle {
    display: none;
}

#SlideSide {
    width: 60%;
    height: 60%;
    display: flex;
    background-color: rgb(17, 17, 17);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    /* border: 2px solid rgb(158, 157, 157); */
    position: fixed;
    bottom: 45rem;
    z-index: 12;
    transition: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    grid-gap: 0.5rem;
    padding-top: 3rem;

}

#Linetop{
    content: "";
    position:absolute;
    width: 7rem;
    height: 0.2rem;
    margin-top: 0.3rem;
    border-radius: 0.5rem;
    background-color: rgb(112, 112, 112);
    top: 0;
}
.Come1 {
    animation: AnimateCome1 0.3s ease-in-out both 1;
}

@keyframes AnimateCome1 {
    from {
        bottom: -45rem;
    }
    to {
        bottom: 0%;
    }
}

.Gone1 {
    animation: AnimateGone1 0.3s ease-in-out both 1;
}

@keyframes AnimateGone1 {
    from {
        bottom: 0%;
    }
    to {
        bottom: -45rem;
    }
}

.SideBoxes2 {
    background-color: rgb(36, 36, 36);
    width: 70%;
    border-radius: 2rem;
    height: 2rem;
    position: relative;
    font: caption;
    font-size: 1.3rem;
    font-weight: 500;
    color: #999;
    display: flex;
    /* justify-content: center; */
    padding-left: 1rem;
    align-items: center;
    font-variant: small-caps;
    cursor: pointer;
    transition: 0.5s;
}
.invert{
    filter: invert();
    
}
#SideImage4{
    height: 1.25rem;
}
.SidePanelImages{
    width: 1.7rem;
    height: 1.7rem;
    margin: auto 0.5rem;
}
.SideBoxes2:hover{
    background-color: rgb(34, 34, 34);
}
nav {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#Slide {
    background-color: #222;
    height: 4rem;
    width: 70%;
    border-radius: 4rem;
    display: grid;
    grid-template-columns: 4rem 13rem 5rem 6rem 3rem 5rem 6rem 6rem 6rem;
    align-items: center;
    grid-gap: 1rem;
    position: absolute;
    top: 1.4rem;
    z-index: 12;
    transition: 0.5s;
    overflow: hidden;
    z-index: 9;
}

#IMGProfile {
    margin: 0.5rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#h1 {
    display: flex;
    align-items: center;
    position: relative;
    font: caption;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(230, 230, 230);
    font-weight: 500;
}

.QuickBTNs {
    color: #999;
    font: caption;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 1.2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.QuickBTNs:hover {
    background-color: rgba(255, 0, 0, 0.219);
}

#Home::after {
    position: absolute;
    bottom: 0;
    content: "";
    background-color: #777;
    height: 2px;
    width: 100%;
}

#Home {
    color: #999;
}

#BTNOfNavSide {
    height: 3rem;
    width: 3rem;
    position: absolute;
    left: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 15;
}

.Lines {
    width: 85%;
    height: 4px;
    background-color: #444;
    position: relative;
}

#DownloadSec {
    background-color: #222;
    height: 20rem;
    width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3rem;
    overflow: hidden;
    margin: 3rem auto;
    border-radius: 1rem;
    padding-top: 1rem;
}

#DownloadText {
    color: rgb(168, 168, 168);
    font: caption;
    font-variant: small-caps;
    font-size: 1.8rem;
    font-weight: 600;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}

#SeeAllTxt {
    color: rgb(169, 171, 255);
    font: caption;
    font-size: 1.3rem;
    text-decoration: none;
    position: absolute;
    right: 2rem;
    top: 0.5rem;
}

#DownloadItems {
    height: 18rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 17.5rem 17.5rem 17.5rem;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    padding-left: 0.5rem;
    justify-content: center;
    overflow: hidden;
}

.DownloadTiles {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(112, 112, 112);
    cursor: pointer;
    border-radius: 3rem;
    transition: 0.3s;
}

.DownloadTiles:hover {
    background-color: rgba(255, 255, 255, 0.151);
}

.DownloadItemsImg {
    background-color: rgb(37, 37, 37);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    margin-left: 0.5rem;
}

.DownloadItemsName {
    color: rgb(228, 228, 228);
    font: caption;
    font-size: 1.3rem;
    font-weight: 500;
    width: 75%;
    height: 2rem;
    display: flex;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    padding-left: 1rem;
}

#LatestVideoSec {
    background-color: #222;
    height: auto;
    width: 55rem;
    margin: 3rem auto;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#YoutubeMainVid {
    width: 100%;
    height: 100%;
}

#iFrameForLatestVideo {
    margin-right: 0rem;
    margin: 2rem 2rem;
    height: 12.8rem;
    width: 28.5rem;
}

#TiteOfLatestVideo {
    background-color: rgb(46, 46, 46);
    width: 29rem;
    height: 5rem;
    margin: 2rem 1rem;
    font: caption;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(185, 185, 185);
    white-space: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
    border-radius: 1rem;
    position: relative;
}

#SubscribeBTN {
    background-color: rgb(182, 0, 0);
    width: 8rem;
    height: 2rem;
    position: absolute;
    bottom: -5rem;
    font: caption;
    font-size: 1.4rem;
    color: rgb(214, 214, 214);
    font-weight: 600;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

#SubscribeBTN:hover {
    background-color: rgb(224, 0, 0);
}

#LatestVideos {
    background-color: #222;
    height: 40rem;
    width: 55rem;
    margin: 3rem auto;
    border-radius: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 17rem 17rem 17rem;
    grid-template-rows: 3rem 17rem 17rem;
    justify-content: center;
    grid-gap: 1rem;
    align-items: center;
}

#LatestVideosTitle {
    color: rgb(168, 168, 168);
    font: caption;
    font-variant: small-caps;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 0.5rem;
    grid-column: 1 /span 3;
}

.VideoBoxes {
    background-color: #222;
    height: 17rem;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(83, 83, 83);
    cursor: pointer;
    transition: 0.2s;
}

.VideoBoxes:hover {
    background-color: rgba(255, 255, 255, 0.062);
    transform: translateY(-7px);
}

.VideoThumbnails {
    background-color: #333;
    width: 100%;
    height: 10rem;
}

.VideoTitles {
    color: rgb(255, 255, 255);
    font: caption;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    padding-left: 0.5rem;
}

footer {
    background-color: #222;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#FooterText {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font: caption;
    font-weight: 500;
    bottom: 0%;
    height: 2rem;
    margin: 0rem auto;
    width: 100%;
}

.SocialPlate {
    color: rgb(189, 189, 189);
    font: caption;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
    font-variant: small-caps;
    text-decoration: none;
    transition: 0.2s;
}

.SocialPlate:hover {
    color: rgb(221, 221, 221);
}

#Hovering{
    width: 4rem;
    height: 2rem;
    background-color: white;
    border-radius: 0.2rem;
    border: 2px solid red;
    position: fixed;
    top: 0;
}







/* Media  */
@media screen and (max-width: 720px) {
    #BTNOfNavSide {
        width: 1.7rem;
        height: 1.7rem;
    }
    #Slide {
        height: 2.1rem;
    }
    #IMGProfile {
        width: 1.7rem;
        height: 1.7rem;
        margin: 0.2rem 0.3rem;
    }
    #h1 {
        font-size: 1rem;
        grid-column: 2/span 2;
    }
    #Slide {
        grid-template-columns: 2rem 8rem 2rem 4rem 4rem 4rem;
    }
    .QuickBTNs {
        font-size: 1rem;
        height: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #LatestVideoSec {
        width: 36rem;
        height: 12rem;
        margin: 1rem auto;
    }
    #YoutubeMainVid {
        width: 14rem;
        height: 8rem;
        margin: 0vw;
    }
    #TiteOfLatestVideo {
        width: 28rem;
        height: 3rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }
    #SubscribeBTN {
        width: 6rem;
        font-size: 1.2rem;
        height: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #DownloadItems {
        height: 19rem;
        grid-template-columns: 16rem 16rem;
        grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    }
    #DownloadSec {
        width: 36rem;
        height: 22rem;
    }
    .DownloadItemsImg {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }
    #DownloadText {
        font-size: 1.5rem;
    }
    #SeeAllTxt {
        font-size: 1.2rem;
    }
    .DownloadItemsName {
        font-size: 1rem;
        padding: 0;
    }
    #LatestVideos {
        width: 36rem;
        height: 60rem;
        grid-template-columns: 15rem 15rem;
        grid-template-rows: 2rem 17.5rem 17.5rem 17.5rem;
    }
    #LatestVideosTitle {
        grid-column: 1/span 2;
        font-size: 1.5rem;
    }
    #SeeAllTxt {
        height: 2rem;
    }
    .VideoTitles {
        font-size: 1rem;
    }
    .VideoBoxes {
        height: 16rem;
    }
}

@media screen and (max-width: 665px) {
    #Slide {
        grid-template-columns: 1.5rem 4rem 4rem 4rem 4rem 4rem;
    }
}

@media screen and (max-width: 600px) {
    .QuickBTNs {
        display: none;
    }
    .SidePanelImages{
        width: 0.7rem;
        height: 0.7rem;
    }
    #SideImage4{
        height: 0.55rem;
    }
    nav{
        height: 2rem;
        /* background-color: red; */
        position: relative;
        top: 0.5rem;
    }
    #SlideSide {
        width: 80%;
        padding-top: 1.5rem;
        grid-template-columns: 8rem;
        grid-gap: 0.2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding-bottom: 0.3rem;
        border: 1px solid rgb(0, 0, 0);
        border-bottom: none;
        padding-left: 0;
        grid-template-rows: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
    }
    #Slide{
        top: 0;
    }
    #Linetop{
        width: 5rem;
    }
    .SideBoxes2 {
        width: 70%;
        height: 1rem;
        font-size: 0.6rem;
    }
    #Home2::after {
        position: absolute;
        bottom: 0;
        content: "";
        background-color: #777;
        height: 2px;
        width: 100%;
    }
    #BTNForHiddenEle {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 1rem;
    }
    .QuickBTNs2 {
        color: #999;
        font: caption;
        font-variant: small-caps;
        font-weight: 500;
        font-size: 1rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        cursor: pointer;
        position: relative;
        transition: 0.5s;
    }
    .QuickBTNs2:hover {
        background-color: rgba(255, 0, 0, 0.219);
    }
    #HiddenEle {
        width: 100%;
        height: 3rem;
        display: none;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 0%;
    }
    .LinesOfBTNHidden {
        width: 5px;
        height: 5px;
        background-color: rgb(190, 190, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
    #LatestVideoSec {
        width: 26rem;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 10rem;
        top: 1rem;
    }
    #YoutubeMainVid {
        height: 7.5rem;
        width: 13rem;
        position: absolute;
        left: 0.5rem;
    }
    #iFrameForLatestVideo {
        width: 10rem;
        width: 13rem;
        margin: 1rem 0.5rem;
    }
    #TiteOfLatestVideo {
        width: 9rem;
        font-size: 0.7rem;
        position: absolute;
        right: 0rem;
        margin: 2rem 0.5rem;
    }
    #SubscribeBTN {
        bottom: -3rem;
        font-size: 1rem;
    }
    #DownloadSec {
        width: 26rem;
    }
    #DownloadText {
        font-size: 1rem;
    }
    #SeeAllTxt {
        font-size: 1rem;
    }
    #DownloadItems {
        grid-template-columns: 11rem 11rem;
        grid-template-rows: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    }
    .DownloadItemsName {
        font-size: 0.9rem;
    }
    #LatestVideos {
        width: 26rem;
        grid-template-columns: 12rem 12rem;
    }
    #LatestVideosTitle {
        font-size: 1rem;
    }
    .VideoThumbnails {
        height: 7rem;
    }
    .VideoTitles {
        font-size: 1rem;
    }
}
