* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 12;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: rgba(255, 0, 0, 0);
    width: 0.6rem;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
}

body {
    background-color: #111;
}

/* Navigation Bar Of Website  */

nav {
    background-color: #222;
    width: 100%;
    height: 3.35rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.3rem;
    padding-left: 5rem;
    flex-wrap: wrap;
    z-index: 12;
}

/* Website Head Name */

#WebName {
    color: rgb(216, 216, 216);
    font: caption;
    font-weight: 600;
    font-size: 2.3rem;
    cursor: default;
    text-transform: capitalize;
    font-family: monospace;
    user-select: none;
    margin-right: auto;
}

/* Login Section  */

#LogSec {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

#Login {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: caption;
    font-weight: 600;
}

#SignUp {
    background-color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    font: caption;
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

#SignUp:hover {
    background-color: rgb(221, 221, 221);
}

/* Side Bar Section  */

#SideBar {
    background-color: #222;
    display: flex;
    width: 18rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -14.5rem;
    transition: 0.5s;
    overflow: hidden;
}

/* To Control Side Bar visiblity BTN  */

#ToSlideOpn {
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0.5rem;
    border: 1.7px solid rgb(228, 228, 228);
}

.LInBTNs {
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

.UpLNAni {
    animation: UpLNAni 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes UpLNAni {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(4px, 3px);
    }
}

.DoLNAni {
    animation: DoLNAni 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes DoLNAni {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

.UpLNAniRev {
    animation: UpLNAniRev reverse 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes UpLNAniRev {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(4px, 3px);
    }
}

.DoLNAniRev {
    animation: DoLNAniRev reverse 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes DoLNAniRev {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* Inner Items Of Side Bar Container  */

#SideItmsCon {
    background-color: rgb(29, 29, 29);
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#WebNameInSide {
    color: rgb(216, 216, 216);
    font: caption;
    font-weight: 600;
    font-size: 1.7rem;
    cursor: default;
    height: 3.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: monospace;
    user-select: none;
    width: 100%;
    background-color: #111;
}

#ScrollItems {
    overflow-y: scroll;
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
}

.InSideItems {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font: caption;
    font-size: 1.1rem;
    font-weight: 300;
    font-variant: small-caps;
    text-transform: capitalize;
    position: relative;
}

.InSideItems:hover {
    background-color: #222;
}

/* Outsider Items Container  */

#RightSideBTNAnItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Outer Side Items Container  */

#SideBot {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

/* Class Of Outer Icons in side bar  */

.FiveHomeIcons {
    width: 100%;
    height: 3.6rem;
    margin: 0.2rem 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 0.3s;
}

/* When user hover icons then change something here  */

.FiveHomeIcons:hover {
    background-color: #111;
}

/* Home Icon Selected presenting  */

#FiveHomeIcon1 {
    background-color: rgb(238, 238, 238);
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../Files/home_icon.png); */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}

/* SVG Code CSS  */

.HomeSVG {
    width: 2.5rem;
    margin: auto;
}

#InstgramServ {
    height: 3rem;
    overflow: hidden;
}

#FiveHomeIcon2 {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#FiveHomeIcon2::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 100%;
    transform: translate(-2.5px, -3px);
    z-index: 14;
}

#FiveHomeIcon2::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 12px;
    background-color: rgb(97, 97, 97);
    transform: rotate(-45deg) translate(0.7px, 9.5px);
}

#FiveHomeIcon1:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon2:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon3 {
    background-image: url(../Files/Followers.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#FiveHomeIcon3:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon4 {
    background-image: url(../Files/Likes.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#FiveHomeIcon4:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon5 {
    background-image: url(../Files/privacyPolicy.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#DownloadsShower {
    height: 3rem;
    overflow: hidden;
}

/* Hover Effect  */

#FiveHomeIcon5:hover {
    background-color: rgb(238, 238, 238);
}

#Help {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-image: url(../Files/Hep.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: invert();
}

#Help:hover {
    background-color: rgb(255, 255, 255);
}

#WriteHereContent {
    background-color: #111;
    width: 100%;
    height: 600vh;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 3.45rem;
}

/* Union Classes */

.MarginLeft1rem {
    margin-left: 2.5rem;
}

.FontForInChild {
    font-weight: 300;
    font-size: 1.07rem;
}

.cursorPinted {
    cursor: pointer;
}

.InsideIcons {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.invert {
    filter: invert();
}

.userselectnone {
    user-select: none;
}

.innericons {
    width: 1.7rem;
    height: auto;
    margin: 0 0.5rem;
}

/* media querry for android device for cursor change */

@media screen and (max-width: 1025px) {
    #searchSec {
        position: relative;
        top: 0%;
    }
}

@media screen and (max-width: 550px) {
    * {
        cursor: default;
    }
    .cursorPinted {
        cursor: default;
    }
    #ToSlideOpn{
        cursor: default;
    }
}

@media screen and (max-width: 838px) {
    #SignUp {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 720px) {}

@media screen and (max-width: 670px) {}

@media screen and (max-width: 600px) {
    #WebName {
        font-size: 1.8rem;
    }
    #SignUp {
        width: 4rem;
        height: 1.7rem;
        font-size: 0.9rem;
    }
}
