* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 12;
}

::-webkit-scrollbar {
    background-color: rgba(255, 0, 0, 0);
    width: 0.6rem;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
}

body {
    background-color: #111;
}

/* Navigation Bar Of Website  */

nav {
    background-color: #222;
    width: 100%;
    height: 3.35rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.3rem;
    padding-left: 5rem;
    z-index: 12;
}

/* Website Head Name */

#WebName {
    color: rgb(216, 216, 216);
    font: caption;
    font-weight: 600;
    font-size: 2.3rem;
    cursor: default;
    text-transform: capitalize;
    font-family: monospace;
    user-select: none;
    margin-right: auto;
}

/* Search Section  */

#searchSec {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 11;
    transform: translate(0rem);
}

#SearchDIn {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 1.7rem;
    color: black;
    padding: 0rem 0.5rem;
    outline: none;
    border: none;
    font-size: 13px;
    border-radius: 5px;
}

#SearchDIn::placeholder {
    user-select: none;
    color: black;
}

#SearchSubBTN2 {
    background-color: white;
    width: 2rem;
    height: 1.7rem;
    outline: none;
    border: none;
    margin: 0rem 0.4rem;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

#SearchSubBTN2::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    border-radius: 100%;
    transform: translate(-2.5px, -3px);
    z-index: 14;
}

#SearchSubBTN2::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    background-color: #999;
    transform: rotate(-45deg) translate(0.7px, 6.3px);
}

#SearchSubBTN {
    background-color: white;
    width: 2rem;
    height: 1.7rem;
    outline: none;
    border: none;
    margin: 0rem 0.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SearchSubBTN:hover {
    background-color: rgb(240, 240, 240);
}

#SearchSubBTN::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    border-radius: 100%;
    transform: translate(-2.5px, -3px);
    z-index: 14;
}

#SearchSubBTN::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    background-color: #999;
    transform: rotate(-45deg) translate(0.7px, 6.3px);
}

#SearchSggt {
    background-color: white;
    display: none;
    align-items: center;
    width: 25rem;
    position: absolute;
    top: 120%;
    height: auto;
    left: 0;
    border-radius: 10px;
    flex-direction: column;
}

#Catee {
    width: 100%;
    height: 2rem;
    color: black;
    background-color: #999;
    padding-left: 0.6rem;
    display: flex;
    font: caption;
    font-family: monospace;
    font-weight: 700;
    align-items: center;
}

#SearchSggt>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#SearchSggt>ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: auto;
    height: auto;
    font: caption;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 1rem;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
}

#SearchSggt>ul li:hover {
    background-color: rgba(34, 34, 34, 0.171);
}

/* Login Section  */
#LogSec {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#Login {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: caption;
    font-weight: 600;
}

#SignUp {
    background-color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    font: caption;
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

#SignUp:hover {
    background-color: rgb(221, 221, 221);
}

/* Side Bar Section  */

#SideBar {
    background-color: #222;
    display: flex;
    width: 18rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -14.5rem;
    transition: 0.5s;
    overflow: hidden;
}

/* To Control Side Bar visiblity BTN  */

#ToSlideOpn {
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0.5rem;
    border: 1.7px solid rgb(228, 228, 228);
}

.LInBTNs {
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

.UpLNAni {
    animation: UpLNAni 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes UpLNAni {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(4px, 3px);
    }
}

.DoLNAni {
    animation: DoLNAni 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes DoLNAni {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

.UpLNAniRev {
    animation: UpLNAniRev reverse 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes UpLNAniRev {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(4px, 3px);
    }
}

.DoLNAniRev {
    animation: DoLNAniRev reverse 0.5s 0s linear both;
    background-color: rgb(228, 228, 228);
    width: 70%;
    height: 4px;
    margin: 4px 0;
}

@keyframes DoLNAniRev {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* Inner Items Of Side Bar Container  */

#SideItmsCon {
    background-color: rgb(29, 29, 29);
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#WebNameInSide {
    color: rgb(216, 216, 216);
    font: caption;
    font-weight: 600;
    font-size: 1.7rem;
    cursor: default;
    height: 3.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: monospace;
    user-select: none;
    width: 100%;
    background-color: #111;
}

#ScrollItems {
    overflow-y: scroll;
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
}

.InSideItems {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font: caption;
    font-size: 1.1rem;
    font-weight: 300;
    font-variant: small-caps;
    text-transform: capitalize;
    position: relative;
}

.InSideItems:hover {
    background-color: #222;
}

/* Outsider Items Container  */

#RightSideBTNAnItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Outer Side Items Container  */

#SideBot {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

/* Class Of Outer Icons in side bar  */

.FiveHomeIcons {
    width: 100%;
    height: 3.6rem;
    margin: 0.2rem 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transition: 0.3s;
}

/* When user hover icons then change something here  */

.FiveHomeIcons:hover {
    background-color: #111;
}

/* Home Icon Selected presenting  */

#FiveHomeIcon1 {
    background-color: #111;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SVG Code CSS  */

.HomeSVG {
    width: 2.5rem;
    margin: auto;
}

#InstgramServ {
    height: 3rem;
    overflow: hidden;
}

#FiveHomeIcon2 {
    background-image: url(../Files/Youtubeb&w.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#FiveHomeIcon2:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon3 {
    background-image: url(../Files/Followers.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#FiveHomeIcon3:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon4 {
    background-image: url(../Files/Likes.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#FiveHomeIcon4:hover {
    background-color: rgb(238, 238, 238);
}

#FiveHomeIcon5 {
    background-image: url(../Files/privacyPolicy.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
}

#DownloadsShower {
    height: 3rem;
    overflow: hidden;
}

/* Hover Effect  */

#FiveHomeIcon5:hover {
    background-color: rgb(238, 238, 238);
}

#Help {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-image: url(../Files/Hep.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: invert();
}

#Help:hover {
    background-color: rgb(255, 255, 255);
}

#WriteHereContent {
    background-color: #111;
    width: 100%;
    height: 200vh;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}

/* Union Classes */

.MarginLeft1rem {
    margin-left: 2.5rem;
}

.FontForInChild {
    font-weight: 300;
    font-size: 1.07rem;
}

.cursorPinted {
    cursor: pointer;
}

.InsideIcons {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.invert {
    filter: invert();
}

.userselectnone {
    user-select: none;
}

.innericons {
    width: 1.7rem;
    height: auto;
    margin: 0 0.5rem;
}

/* media querry for android device for cursor change */

@media screen and (max-width: 550px) {
    * {
        cursor: default;
    }
    .cursorPinted {
        cursor: default;
    }
}

@media screen and (max-width: 838px) {
    #SearchDIn {
        width: 15rem;
    }
    #SignUp{
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 670px) {
    #SearchDIn {
        display: flex;
        margin-top: 6rem;
        position: absolute;
        left: -250%;
    }
    #SearchSubBTN {
        top: 0;
        display: flex;
        margin-top: 3rem;
        position: absolute;
        right: -300%;
    }
    #SearchSubBTN2 {
        display: flex;
        height: 1.7rem;
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: 3rem;
    }
    #WebName {
        font-size: 1.4rem;
    }
    #SignUp {
        width: 4rem;
        height: 1.7rem;
        font-size: 0.9rem;
    }
}
